<div class="container col-12 App">
  <!-- App Bar -->
  <div class="row AppBar" #AppBar>
    <p-menubar [model]="itemsAppBar" style="width: 100%;">
      <div>
        <button
          type="button"
          pButton
          icon="pi pi-user"
          style="margin-left: 0.25em"
        ></button>
      </div>
    </p-menubar>
  </div>

  <!-- App Body -->
  <div class="row AppBody" #AppBody>
    
    <!-- Menu Col -->
    <div class="col-auto MenuBar">
      <p-panelMenu
        [model]="itemsMenu"
        [style]="{ width: '300px' }"
      ></p-panelMenu>
    </div>
    
    <!-- Page View Col -->
    <div class="col ModuleContent">
      <div class="routerOutlet">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <!-- App Footer -->
  <div  >
    <app-footer class="AppFooter" #AppFooter></app-footer>
    
  </div>
</div>
