<p-toast></p-toast>
<div class="col-12 App">
  <!-- App Bar -->
  <div class="AppBar" #AppBar>
    <app-menu-bar></app-menu-bar>
    
  </div>

  <!-- App Body -->
  <div class="row AppBody" #AppBody>
    
    <!-- Menu Col -->
    <div class="col-auto MenuBar">
      <app-menu></app-menu>
    </div>
    
    <!-- Page View Col -->
    <div class="col ModuleContent">
      <div class="routerOutlet">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <!-- App Footer -->
  <div class="AppFooter">
    <app-footer #AppFooter></app-footer>
  </div>
</div>
