<p-toast></p-toast>
<div class="container col-12 App">
  <!-- App Bar -->
  <div class="AppBar" #AppBar>
    <app-menu-bar></app-menu-bar>
    
  </div>

  <!-- App Body -->
  <div class="row AppBody" #AppBody>
    
    <!-- Menu Col -->
    <div class="col-auto MenuBar">
      <app-menu></app-menu>
    </div>
    
    <!-- Page View Col -->
    <div class="col ModuleContent">
      <div class="routerOutlet">
        <button type="button" pButton pRipple (click)="showSuccess('success test toast', 'test')" label="Success" class="p-button-success"></button>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <!-- App Footer -->
  <div>
    <app-footer class="AppFooter" #AppFooter></app-footer>
  </div>
</div>
