<div class="infoBox">
    <div>This page will be implemented in the next release in the next link:</div>
    
    <div><a href="https://gerleven.github.io/WeatherApp/">https://gerleven.github.io/WeatherApp/</a></div>
    <br>
    <div><b>Note:</b> In the deployed site on GitHub Page, if you get a CORS error when call api, please download the repository and run it locally (by the moment, Github-Page is having an incompatibility with apps that has an EventEmitter and it is throwing an error when build the app) </div>
    <br>
    <div>Link to issue on git hub page:</div>
    <div><a href="https://github.com/actions/runner-images/issues/6399">https://github.com/actions/runner-images/issues/6399</a></div>
</div>