<div id="searchPageContent" class="searchPageContent col-12">
    <div class="searchPrompt">
        <h1>Weather App!</h1>
        <app-search-prompt (emitterWeatherResponse)="receiveWeatherResponse($event)"></app-search-prompt>
        <br>
    </div>

    
    <ng-template [ngIf]="favoriteCities.length>0 || showCard()" [ngIfElse]="hint">
        
        <div class="bigCardResult">
            <div *ngIf="showCard()">
                <h2>Actual weather:</h2>
                <div class="bigCardContainer">
                    <app-weather-card-bigger [weatherData]="weatherResult" (addFavorite)="addFavorite($event)" (closeCard)="onClose($event)"></app-weather-card-bigger>
                </div>
            </div>
        </div>
        <div class="favoriteCitiesList">
            <h2>Your favorite cities:</h2>
            <ng-template [ngIf]="favoriteCities.length>0" [ngIfElse]="favoritesHint">
                <div *ngFor="let city of favoriteCities" style="margin-bottom: 1vh;">
                    <app-weather-card-smaller [weatherData]="city" (deleteCity)="deleteCity($event)" (openWeatherBigCard)="openWeatherBigCard($event)"></app-weather-card-smaller>
                </div>
            </ng-template>
            <ng-template #favoritesHint>
                <div class="messageBox">
                    <span>No favorite cities yet, try to add one</span>
                </div>
            </ng-template>
        </div>
            
        
    </ng-template>
    
    <ng-template #hint>
        <div class="messageBox">
            <h3>Make a Search!</h3>
            <div>You can search by "City Name", "Zip-Code" or "Coordinates" (lat - log)</div>
            <div>Also You can add the "Country Code" after the "City Name" and "Zip-Code" for more precision</div>
            <div>If you don't know your contry code, let's check it out here: <a href="https://www.iso.org/obp/ui/#search/code/">ISO 3166</a></div>
        </div>
    </ng-template>
    <!-- <button (click)="test()" pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-secondary p-button-text" style="color: rgb(182, 42, 42);"></button> -->
</div>

