.searchPageContent{
    height: 75%;
}

.searchPrompt{
    display: block;
    height: 40%;
    /* background-color: aqua; */
}

.citiesList{
    display: block;
    height: 80%;
    /* background-color: rgb(76, 0, 255); */
}