<div class="row AppFooterContent">
  <div class="col-3">
    <div class="row rowStyle">
      <a href="https://www.linkedin.com/in/german-levental/" class="lightLinks">
        <i
          class="pi pi-linkedin"
          style="color: #5f85bb; margin-right: 10px; place-self: center"
        ></i>
      </a>
      <a href="https://www.linkedin.com/in/german-levental/" class="lightLinks">
        <p>linkedin.com/in/german-levental</p>
      </a>
    </div>
  </div>
  <div class="col-3">
    <div class="row rowStyle">
      <a
        href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=gerleven%40gmail.com&hl=es"
        class="lightLinks"
      >
        <i
          class="pi pi-envelope"
          style="color: #5f85bb; margin-right: 10px; place-self: center"
        ></i>
      </a>
      <a
        href="https://mail.google.com/mail/u/0/?tf=cm&fs=1&to=gerleven%40gmail.com&hl=es"
        class="lightLinks"
      >
        <p>gerleven@gmail.com</p>
      </a>
    </div>
  </div>

  <div class="col-3">
    <div class="row rowStyle">
      <a href="https://github.com/gerleven" class="lightLinks">
        <i
          class="pi pi-github"
          style="color: #5f85bb; margin-right: 10px; place-self: center"
        ></i>
      </a>
      <a href="https://github.com/gerleven" class="lightLinks">
        <p>github.com/gerleven</p>
      </a>
    </div>
  </div>

  <div class="col-3">
    <div class="row rowStyle">
      <a href="http://wa.me/5493426303635" class="lightLinks">
        <i
          class="pi pi-whatsapp"
          style="color: #5f85bb; margin-right: 10px; place-self: center"
        ></i>
      </a>
      <a href="http://wa.me/5493426303635" class="lightLinks">
        <p>+549 342-6303635</p>
      </a>
    </div>
  </div>
</div>
