.weatherCardSmaller{
    display: block;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 10px;
    height: 7vh;
    padding: 1vh;

    color: white;
    font-weight: 500;
}

.weatherCardSmallerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}