.weatherCardSmaller {
  /* background-color: rgba(0, 0, 0, 0.637); */
  background-color: rgba(0, 108, 231, 0.75);
  border-radius: 10px;

  padding: 2vh 2vw;

  color: white;
  font-weight: 300;
  font-size: medium;

  max-height: 12vh;

  white-space:nowrap;
}

.weatherCardSmaller:hover{
  background-color: rgb(0 108 231 / 71%);
  cursor: pointer;
}

.transformY{
  transition: all 0.3s ease 0s;
}
.transformY:hover{
  transform: translateY(-2px);
  box-shadow: 4px 10px 20px rgba(71, 71, 71, 0.4);
}

.spaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textPrimary {
  font-weight: 500;
  font-size: 3.5vh;
  margin-bottom: 0.7vh;
}
.textSecondary {
  font-weight: 300;
  /* font-size: small; */
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: initial;
  padding: 0;
}

img {
  max-height: 11vh;
}

.title {
  font-size: 2.2vh;
  font-weight: 400;
}

.underTitle {
  font-size: 2vh;
}

.iconWather {
  place-self: center;
  overflow: hidden;
  scale: 1.2;
}

.iconTrash{
  place-self: center;
  overflow: hidden;
  scale: 1.8;
}
