<div class="weatherCardBigger transformY">
    
    <div class="row">
        <div class="col">
            <p class="textPrimary">{{weatherData.name}} ({{weatherData.sys.country}})</p>
            <div class="row">
                <div class="col-10">
                    <div class="spaceBetween">
                        <span class="title textSecondary">Latitude:</span> <span class="textSecondary underTitle">{{weatherData.coord.lat}}</span>
                    </div>
                    <div class="spaceBetween">
                        <span class="title textSecondary">Longitude:</span> <span class="textSecondary underTitle">{{weatherData.coord.lon}}</span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10%;">
                <div class="col-4">
                    <img class="iconWather" [src]="getIcon(this.weatherData.weather[0].icon,true)" alt="icon">
                </div>
                <div class="col-1"></div>
                <div class="col-6">
                    <div class="textPrimary">{{weatherData.weather[0].main}} </div>
                    <div class="textSecondary">{{weatherData.weather[0].description}}</div>
                    <div class="textSecondary" style="margin-top: 0.5vh;"><b>Wind seed:</b></div>
                    <div class="textSecondary">{{weatherData.wind.speed}} km/s</div>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="row">
                <div class="textBigger" >{{weatherData.main.temp}} ({{weatherData.tempUnitLabel}})</div>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="spaceBetween">
                        <span class="title textSecondary">Min:</span> <span class="textSecondary underTitle">{{weatherData.main.temp_min}} ({{weatherData.tempUnitLabel}})</span>
                    </div>
                    <div class="spaceBetween">
                        <span class="title textSecondary">Max:</span> <span class="textSecondary underTitle">{{weatherData.main.temp_max}} ({{weatherData.tempUnitLabel}})</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="buttons">
        <span>
            <button (click)="onClickCancel()" pButton pRipple type="button" label="Close" class="p-button-sm p-button-outlined p-button-secondary" style="color: rgb(255, 255, 255); padding: 1vh;"></button>
        </span>
        <span style="margin-left: 10px;">
            <button (click)="addFavorite()" icon="pi pi-star" iconPos="right" pButton pRipple type="button" label="Add to Favorites" class="p-button-sm p-button-outlined p-button-secondary" style="color: rgb(255, 255, 255);  padding: 1vh;"></button>
        </span>
    </div>
</div>