.weatherCardBigger {
  background-color: rgba(0, 0, 0, 0.63);
  border-radius: 2.5vh;

  padding: 2.5vh;

  color: white;
  font-weight: 300;
  font-size: medium;

  height: 35vh;
  width: 60vh;
  box-shadow: 4px 8px 15px rgba(71, 71, 71, 0.2);

  /* white-space: nowrap; */

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow-y: auto;
}

.weatherCardBigger:hover {
  box-shadow: 4px 10px 20px rgba(71, 71, 71, 0.4);
}

.transformY {
  transition: all 0.4s ease 0s;
}
.transformY:hover {
  /* transform: translateY(-2px); */
  box-shadow: 4px 10px 20px rgba(71, 71, 71, 0.4);
}

.spaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textPrimary {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 1vh;
}
.onTextOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* height: 30px;
  margin-top: 10px; */
}
.textSecondary {
  font-weight: 300;
  font-size: 2vh;
}
.textBigger {
  font-size: 6vh;
  font-weight: 500;
  margin: 1vh 0 0 0.5vw;
  height: 6vh;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: initial;
  padding: 10px;
}

img {
  max-height: 11vh;
}

.title {
  font-size: 15px;
  font-weight: 400;
}

.underTitle {
  font-size: 2vh;
  margin-left: 10px;
}

.iconWather {
  place-self: center;
  overflow: hidden;
  scale: 1.4;
}

.buttons {
  display: flex;
  justify-content: end;
  margin-top: 1vh;
}

:host ::ng-deep.pi-star:before {
  color: rgb(236, 236, 0);
}
